body {
    margin: 0;
    padding: 0;
}

.header_container {
    height: 120px;
    display: flex;
    justify-content: space-between; /* separa logo e contatos */
    align-items: center;
    background-color: #1ed760;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Logo */
.header_logo img {
    height: 60px; /* ajuste do tamanho */
}

/* Contato + ícones */
.header_contatos {
    display: flex;
    align-items: center;
    gap: 20px; /* espaço entre "Contato" e os ícones */
}

.header_contatos a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Ícones */
.icones {
    display: flex;
    gap: 15px;
}

.icones a {
    color: black;
    font-size: 22px;
}
